.floating-menu-container {
  position: fixed;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

.floating-menu-item:hover {
  background-color: #71b15e;
  transition: 0.5s;
}

.floating-menu-item {
  padding: 15px 10px 15px 10px;
  background-color: #6cc551;
}

.floating-menu-item:not(:last-child) {
  border-bottom: 1px solid #9ffcdf;
}

.floating-menu-item:is(:first-child) {
  border-radius: 10px 0 0 0;
}

.floating-menu-item:is(:last-child) {
  border-radius: 0 0 0 10px;
}
